.titulo {
  text-align: center;
  padding: 25px;
  color: #3b3a30;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.card-columns {
  margin: 5px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.elem {
  background-color: #FF0000;
  cursor: pointer;
  border: 1px solid #545555;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;
}

.elem:hover {
  background-color: #545555;
  color: #fff;
}

.modif {
  background-color: #f6f6f6;
  border: 1px solid #545555;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;
}

.modif:hover {
  background-color: #545555;
  color: #fff;
}