<div class="container">
  <div class="title">
    Crea tu nota
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="note.titulo" id="titulo" type="text" class="validate">
        <label for="titulo">Titulo</label>
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="note.tipo" id="tipo" type="text" class="validate">
        <label for="tipo">Tipo</label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="exampleFormControlTextarea1"> Contenido </label>
        <textarea class="desc" id="exampleFormControlTextarea1" rows="8" [(ngModel)]="note.contenido"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-group">

          <label for="exampleFormControlSelect1">Criticidad</label>
          <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="note.criticidad">
                <option>Prioritaria</option>
                <option>Alta</option>
                <option>Media</option>
                <option>Baja</option>
                <option>No tiene</option>
              </select>
        </div>
      </div>
      <div class="form-group col-md-6">
        <span>{{errorMsg}}</span>
        <button *ngIf="!formCompletado()" class="btn waves-effect waves-light" type="submit" name="action" disabled>Crear nota</button>
        <button *ngIf="formCompletado()" (click)="crear()" class="btn waves-effect waves-light" type="submit" name="action">Crear nota</button>
      </div>
    </div>
  </div>
</div>